---
---

@import "{{ site.theme }}";

.nav_item {
  font-size: 35px;
  text-decoration: none;
}

.sidenav {
  height: 100%;
  width: 260px;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  background-color: #808080;
  padding-top: 20px;
  overflow-y: scroll;
}

.h1_side {
  text-decoration: none;
  padding: 6px 8px 6px 16px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  color: #dedede;
  float: left;
}

.h2_side {
  text-decoration: none;
  padding: 2px 8px 10px 16px;
  margin-left: 5px;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  color: #dedede;
  float: left
}

.collapse {
  border: 0px;
  background-color: #00000000;
  cursor: pointer;
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.coll {
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #00000000;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  min-width: 30px;
  width: 30px;
  max-width: 30px;
}

.hide {
  padding: 0px 18px;
  display: none;
  overflow: hidden;
}

.inner_2 {
  width: auto;
}

.new_outer {
  width: 100%;
  display: block;
}

.new_inner {
  width: auto;
  padding: 20px 10px;
  margin: 0 auto auto 10px;

}

.left {
  width: 260px;
  height: 100%;
  min-width: 260px;
  max-width: 260px;
  overflow-x: hidden;
  background-color: #808080;
  float: left;
  display: inline-block;
  overflow-y: hidden;
}

.right {
  display: inline-block;
  width: calc(100% - 100px);
  overflow-y: scroll;
}

.cont {
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
}

button {
  margin-left: 15px;
}
