<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>

    <div class="cont">
      <!-- SIDEBAR -->
      <div class="left"><div id="main_side_bar" class="sidenav">
        <button class="collapse" type="button"><div class="coll">\/</div><a href="/valvevr" class="h1_side">Valve VR</a></button>
          <div class="hide">
            <button class="collapse" type="button"><div class="coll">\/</div><a href="/valvevr/tasks" class="h2_side">Tasks</a></button>
              <div class="hide">
                <a href="/valvevr/tasks/task-watcher" class="h2_side">Task Watcher</a>
                <a href="/valvevr/tasks/task-objects" class="h2_side">Task Objects</a>
                <a href="/valvevr/tasks/display-board" class="h2_side">Display Board</a>
                <a href="/valvevr/tasks/hand-ui" class="h2_side">Hand UI</a>
                <a href="/valvevr/ui/object-pointers" class="h2_side">Object Pointers</a>
              </div>
              <button class="collapse" type="button"><div class="coll">\/</div><a href="/valvevr/hazards" class="h2_side">Hazards</a></button>
                <div class="hide">
                  <a href="/valvevr/hazards/danger-zone" class="h2_side">Danger Zone</a>
                </div>
                <button class="collapse" type="button"><div class="coll">\/</div><a href="/valvevr/ui" class="h2_side">UI System</a></button>
                  <div class="hide">
                    <a href="/valvevr/ui/main-menu" class="h2_side">Main Menu</a>
                    <a href="/valvevr/ui/pause-menu" class="h2_side">Pause Menu</a>
                    <a href="/valvevr/ui/complete-menu" class="h2_side">Complete Menu</a>
                    <a href="/valvevr/ui/laser-pointers" class="h2_side">Laser Pointers</a>
                    <a href="/valvevr/ui/settings" class="h2_side">Settings</a>
                  </div>
                  <button class="collapse" type="button"><div class="coll">\/</div><a href="/valvevr/interactables" class="h2_side">Objects</a></button>
                    <div class="hide">
                      <a href="/valvevr/interactables/grab-spawner" class="h2_side">Grab Spawner</a>
                      <a href="/valvevr/interactables/hammer" class="h2_side">Hammer</a>
                      <a href="/valvevr/interactables/nail" class="h2_side">Nail</a>
                      <a href="/valvevr/interactables/nailgun" class="h2_side">Nailgun</a>
                      <a href="/valvevr/interactables/hammerables" class="h2_side">Hammerables</a>
                      <a href="/valvevr/interactables/saws" class="h2_side">Saws</a>
                      <a href="/valvevr/interactables/sawables" class="h2_side">Sawables</a>
                    </div>
                    <a href="/valvevr/interactables/sockets" class="h2_side">Sockets</a>
          </div>
      </div></div>

    <!-- HEADER -->
    <div class="right"><div id="header_wrap" class="new_outer">
        <header class="new_inner">
          <a class="nav_item" href="https://radfordm-osu.github.io">Home</a> | <a class="nav_item" href="https://github.com/radfordm-osu/radfordm-osu.github.io">GitHub</a>
          {% if site.github.is_project_page %}
            <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
          {% endif %}

          <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

          {% if site.show_downloads %}
            <section id="downloads">
              <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
              <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
            </section>
          {% endif %}
        </header>
    </div>


    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="new_outer">
      <section id="main_content" class="new_inner">
        <div class="inner_2">
          {{ content }}
        </div>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="new_outer">
      <footer class="new_inner">
        {% if site.github.is_project_page %}
          <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div></div></div>
  </body>
</html>

<script>
  var coll = document.getElementsByClassName("collapse");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
        this.querySelector('.coll').innerHTML = "\\/";
      } else {
        content.style.display = "block";
        this.querySelector('.coll').innerHTML = "/\\";
      }
    });
  }
</script>
